<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>simple addition</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>simple calculation for addition</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('addition')}}"method="post">
    	<input type="text" name="number_1" placeholder="num1" required="required" />
        <input type="text" name="number_2" placeholder="num2" required="required" />
		<!--input type="text" name="interview_score" placeholder="Interview Score" required="required" /-->

        <button type="submit" class="btn btn-primary btn-block btn-large">addition</button>
    </form>

   <br>
   <br>
   {{ output_number }}

 </div>


</body>
</html>
